.tab-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc7;
  margin-top: 1em;
}

.tab {
  padding: 0.4em 1em;
  margin: 0;
  cursor: pointer;
  border-bottom: none;
  background-color: #4a4545;
}

.tab.active {
  background-color: #ccc;
  color: #3c3c3c;
}

.code-block {
  display: none;
  border: none;
  padding: 0;
  margin: 0;
}

.code-block.active {
  display: block;
}

.code-block pre {
  margin-top: 0;
}
